@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to DevOps Assignment </h1>
    <h2 class="display-4">Team Members - Purnima, Harshita, VENKATA, Ajinkya. <h2>
    <h2 class="display-4">Topic - git commands, git-GitHub Integration, usage of GitHub Actions for creating a Continuous Integration (CI) pipeline. <h2>
</div>
